/**
 * Unicorn Admin Template
 * Version 2.0.1
 * Diablo9983 -> diablo9983@gmail.com
**/

* {
	outline:none !important;
	-moz-outline: none !important;
}
/* Main */
body {
	overflow-x: hidden;
    margin-top: -20px;
}
a:hover {
	text-decoration: none;
}
a {
	text-decoration: none !important;
}
.row {
	margin: 0;
}
.tooltip {
	font-size: 10px;
}
.tooltip-inner {
	padding: 4px 8px 3px;
}
.flat .tooltip-inner {
	border-radius: 0;
}
/* Header */
#header {
    height: 77px;
    position: relative;
    width: 100%;
    z-index: -9;
}

#header h1 {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    height: 31px;
    left: 15px;
    line-height: 600px;
    overflow: hidden;
    position: relative;
    top: 24px;
    width: 191px;
}

#header h1 a {
    display: block;
}

#menu-trigger {
	position: absolute;
	font-size: 16px;
	line-height: 16px;
	top: 48px;
	left: 7px;
	color: #dddddd;
	text-shadow: 0 1px 0 #000000;
	z-index: 1000 !important;
	display: none;
}
.fixed #menu-trigger {
	z-index: 20;
	top: auto;
	bottom: 0;
	left: 1px;
	padding: 11px 7px 9px 6px;
	border-right: 1px solid #000;
	box-shadow: 1px 0 0 0 #393939;
}
.fixed.flat #menu-trigger {
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 0 #444;
}
/* Search input */
#search {
	position: absolute;
	z-index: 25;
	top: 5px;
	left: 230px;
}
#search input[type=text] {
	font-size: 12px;
	line-height: 18px;
	border-radius: 4px 0 0 4px;
	padding: 7px 10px 6px;
	border: 0;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.7) inset, 0 1px 0 rgba(255,255,255,0.2);
	width: 120px;
}

#search button {
	border: 0;
	margin-top: -10px;
	padding: 4px 10px 4px;
	border-radius: 0 4px 4px 0;
	box-shadow: -2px 2px 3px rgba(0,0,0,0.7) inset, 0 1px 0 rgba(255,255,255,0.2);
}
#search button i {
	font-size: 12px;
	color: #ffffff;
	opacity: 0.5;
	margin-top:;
}
#search button:hover i, #search button:active i {
	opacity: 0.9;
}
/* Top user navigation */
#user-nav {
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 20;
    margin: 0;
    min-height: auto !important;
    height: 25px !important;
}
#user-nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#user-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
}

#user-nav > ul > li > a {
	padding: 11.5px 10px;
	display: block;
	font-size: 10px;
}

#user-nav > ul > li > a, #user-nav > ul > li > a > i {
	color: rgba(255,255,255,0.6);
}
#user-nav > ul > li:hover > a, #user-nav > ul > li:hover > a > i, #user-nav > ul > li.open > a, #user-nav > ul > li.open > a > i {
	background-color: transparent;
	color: #ffffff;
}
#user-nav > ul > li > a > i {
	vertical-align: middle;
	margin-right: 2px;
}

#user-nav > ul > li > a > .label {
	font-size: 10px;
	vertical-align: middle;
	padding: 2px 4px 2px;
	margin: -2px 4px 0;
	display: inline-block;
}
#user-nav > ul > li > a > .caret {
	border-top-color: rgba(255,255,255,0.6);
}
#user-nav > ul > li:hover > a > .caret, #user-nav > ul > li.open > a > .caret {
	border-top-color: #ffffff;
}
#user-nav > ul ul > li > a {
	text-align: left;
	text-shadow: 0 1px 0 #ffffff;
}
#user-nav > ul ul > li > a:hover {
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
#user-nav .dropdown-menu {
	margin-top: -1px;
	border-radius: 0 0 5px 5px;
}
.flat #user-nav .dropdown-menu {
	border-radius: 0;
}
#user-nav .dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
#user-nav .dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
/* Sidebar Navigation */
#sidebar {
    display: block;
    float: left;
    position: relative;
    width: 220px;
    z-index: 16;
}

#sidebar > ul, #jPanelMenu-menu > ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
	position: absolute;
	width: 220px;
}
#jPanelMenu-menu > ul {
	margin: -2px 0 0;
	width: 250px;
}
#sidebar > ul > li, #jPanelMenu-menu > ul > li {
	display: block;
	position: relative;
}

#sidebar > ul > li.active, #jPanelMenu-menu > ul > li.active {
	box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
}

#sidebar > ul > li > a, #jPanelMenu-menu > ul > li > a {
	padding: 10px 0 10px 15px;
	display: block;
	color: #AAAAAA;
}

#sidebar > ul > li > a > i, #jPanelMenu-menu > ul > li > a > i {
	margin-right: 10px;
}

#sidebar > ul > li.active > a{
	background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
}
#sidebar > ul > li > a > .label, #jPanelMenu-menu > ul > li > a > .label {
	margin: 2px 20px 0 0;
	float: right;
	padding: 3px 5px 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
}

#sidebar > ul ul, #jPanelMenu-menu > ul ul {
	display: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 3px rgba(0,0,0,0.5) inset;
}
#sidebar > ul li.open ul, #jPanelMenu-menu > ul li.open ul {
	display: block;
}
#sidebar > ul ul li a, #jPanelMenu-menu > ul ul li a {
	padding: 10px 0 10px 25px;
	display: block;
	color: #777777;
}

#sidebar > ul ul li:first-child a, #jPanelMenu-menu > ul ul li:first-child a {
	border-top: 0;
}
#sidebar > ul ul li:last-child a, #jPanelMenu-menu > ul ul li:last-child a {
	border-bottom: 0;
}



/* Content */
#content {
    background: none repeat scroll 0 0 #eceaef;
    margin-left: 220px;
    margin-right: 0;
    position: relative;
    min-height: 500px;
    width: auto;
    -webkit-background-clip: padding-box;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#content-header {
	background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FFFFFF), to(#eceaef));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #eceaef 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #eceaef 100%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #eceaef 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #eceaef 100%);
    background-image: linear-gradient(top, #FFFFFF 0%, #eceaef 100%);
    border-top-left-radius: 8px;
    min-height: 80px; /*FIX: Use MIN-height... Allow header to get bigger for larger content (such as the h1) */
    /*position: absolute; FIX: This breaks layout significantly when spelled correctly*/
    padding-top: 5px; /*FIX: Allows h1 to not have to be absolutely positioned and control it's parent's height*/
    width: 100%;
    margin-top: -38px;
    z-index: 20;
}
.flat #content-header {
	background-image: none;
}
#content-header h1 {
    color: #555555;
    font-size: 28px;
    font-weight: normal;
    /*float: left; FIX: Keep h1 in DOM flow. Fixes weird layout problems with long text/no absolute positioned parent... */
    text-shadow: 0 1px 0 #ffffff;
    margin-left: 20px;
    /*position: absolute; FIX: Allow h1 to flow correctly with width changes, keep in DOM flow*/
}

/* FIX: The following two items were reordered to allow .btn-group to override margin top! */
#content-header h1, #content-header .btn-group {
    margin-top: 20px;
}

#content-header .btn-group {
    float: right;
    right: 20px;
    position: absolute;
    margin-top:-50px; /*FIX: Line up with the header correctly on > tablet size (will be removed below)*/
    box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
    background-color: #ededed;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#eaeaea), to(#ededed));
    background-image: -webkit-linear-gradient(#eaeaea, #ededed);
    background-image: -moz-linear-gradient(#eaeaea, #ededed);
    background-image: -ms-linear-gradient(#eaeaea, #ededed);
    background-image: -o-linear-gradient(#eaeaea, #ededed);
    background-image: linear-gradient(#eaeaea, #ededed);
    border-bottom: 1px solid rgba(255,255,255,0.6);
    border-radius: 5px;
}

.flat #content-header .btn-group {
	background-image: none;
	box-shadow: none;
	border: 1px solid #e0e0e0;
	border-radius: 0;
}

/******/
#content-header .btn-group .btn {
	font-size: 16px;
	padding: 13px 14px 9px;
	color: rgba(0,0,0,0.5);
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #dddddd;
}
#content-header .btn-group .btn:hover {
	color: rgba(0,0,0,0.7);
}
#content-header .btn-group .btn:last-child {
	border-right: none !important;
}
#content-header .btn-group .btn .label {
	position: absolute;
	top: 4px;
	right: 5px;
	padding: 2px 4px;
}

/* Breadcrumb */
#breadcrumb {
	background-color: #eeeeee;
	box-shadow: 0 0 1px #ffffff;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	padding-left: 10px;
}
#breadcrumb a {
	padding: 8px 20px 8px 10px;
	display: inline-block;
	background-image: url('../img/breadcrumb.png');
	background-position: center right;
	background-repeat: no-repeat;
	font-size: 11px;
	color: #666666;
}
#breadcrumb a:hover {
	color: #333333;
}
#breadcrumb a:last-child {
	background-image:none;
}
#breadcrumb a.current {
	font-weight: bold;
	color: #444444;
}
#breadcrumb a i {
	margin-right: 5px;
	opacity: .6;
	vertical-align: middle;
}
#breadcrumb a:hover i {
	margin-right: 5px;
	opacity: .8;
}

/* Style Switcher */
#style-switcher {
	position: absolute;
	width: 250px;
	height: 30px;
	background-color: #000000;
	z-index: 10;
	right: -220px;
	top: 121px;
	border-radius: 5px 0 0 5px;
}
#style-switcher i {
	display: block;
	float: left;
	margin: 6px 10px 0 10px;
	color: #ffffff;
}
#style-switcher i:hover {
	cursor: pointer;
}
#style-switcher span {
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
	margin: -10px 20px 0 0;
	vertical-align:middle;
}
#style-switcher a {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 4.5px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

/* Footer */
#footer {
	text-align: center;
	color: #ffffff;
	text-shadow: 0 1px 0 #000000;
	font-size: 12px;
	font-weight: 200;
	padding: 10px 0;
}
#footer a {
	color: rgba(255,255,255,0.5);
}
#footer a:hover {
	color: rgba(255,255,255,0.8);
}
/* Stat boxes and quick actions */
.stat-boxes, .quick-actions, .quick-actions-horizontal, .stats-plain {
    display: inline-block;
    list-style: none outside none;
    margin: 20px 0 10px;
    text-align: center;
    padding: 0;
}
.stats-plain {
	width: 100%;
}
.stat-boxes li, .quick-actions li, .quick-actions-horizontal li {
    background-color: #F6F6F6;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F9F9F9), to(#EDEDED));
	background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    border: 1px solid #d5d5d5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 10px;
}
.flat .stat-boxes li, .flat .quick-actions li, .flat .quick-actions-horizontal li {
	background-image: none;
	box-shadow: none;
	border-radius: 0;
}
.quick-actions li {
	min-width: 120px;
}
.quick-actions li, .quick-actions-horizontal li {
	padding: 0;
}
.stats-plain li {
	padding: 0 30px;
	display: inline-block;
	margin: 0 10px 20px;
}
.quick-actions li a {
	padding: 10px 30px;
}
.stats-plain li h4 {
	font-size: 40px;
	margin-bottom: 15px;
}
.stats-plain li span {
	font-size: 14px;
	color: #555555;
}
.quick-actions-horizontal li a span {
	padding: 10px 12px 10px 10px;
	display: inline-block;
}
.quick-actions li a, .quick-actions-horizontal li a {
	text-align: center !important;
	display: block;
	color: #666666;
	text-shadow: 0 1px 0 #ffffff;
}
.quick-actions li a i[class^="icon-"], .quick-actions li a i[class*=" icon-"] {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0 0;
	background-color: transparent;
	width: 32px;
	height: 32px;
	display: block;
	margin: 0 auto 5px;
}
.quick-actions-horizontal li a i[class^="icon-"], .quick-actions-horizontal li a i[class*=" icon-"] {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-color: transparent;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: -2px 0 0 !important;
	border-right: 1px solid #dddddd;
	margin-right: 10px;
	padding: 20px;
	vertical-align: middle;
}

.quick-actions i.icon-book {
	background-image: url('../img/icons/32/book.png');
}
.quick-actions i.icon-cabinet {
	background-image: url('../img/icons/32/cabinet.png');
}
.quick-actions i.icon-calendar {
	background-image: url('../img/icons/32/calendar.png');
}
.quick-actions i.icon-client {
	background-image: url('../img/icons/32/client.png');
}
.quick-actions i.icon-database {
	background-image: url('../img/icons/32/database.png');
}
.quick-actions i.icon-download {
	background-image: url('../img/icons/32/download.png');
}
.quick-actions i.icon-graph {
	background-image: url('../img/icons/32/graph.png');
}
.quick-actions i.icon-home {
	background-image: url('../img/icons/32/home.png');
}
.quick-actions i.icon-lock {
	background-image: url('../img/icons/32/lock.png');
}
.quick-actions i.icon-mail {
	background-image: url('../img/icons/32/mail.png');
}
.quick-actions i.icon-pdf {
	background-image: url('../img/icons/32/pdf.png');
}
.quick-actions i.icon-people {
	background-image: url('../img/icons/32/people.png');
}
.quick-actions i.icon-piechart {
	background-image: url('../img/icons/32/piechart.png');
}
.quick-actions i.icon-search {
	background-image: url('../img/icons/32/search.png');
}
.quick-actions i.icon-shopping-bag {
	background-image: url('../img/icons/32/shopping-bag.png');
}
.quick-actions i.icon-survey {
	background-image: url('../img/icons/32/survey.png');
}
.quick-actions i.icon-tag {
	background-image: url('../img/icons/32/tag.png');
}
.quick-actions i.icon-user {
	background-image: url('../img/icons/32/user.png');
}
.quick-actions i.icon-wallet {
	background-image: url('../img/icons/32/wallet.png');
}
.quick-actions i.icon-web {
	background-image: url('../img/icons/32/web.png');
}

.quick-actions-horizontal i.icon-book {
	background-image: url('../img/icons/16/book.png');
}
.quick-actions-horizontal i.icon-cabinet {
	background-image: url('../img/icons/16/cabinet.png');
}
.quick-actions-horizontal i.icon-calendar {
	background-image: url('../img/icons/16/calendar.png');
}
.quick-actions-horizontal i.icon-client {
	background-image: url('../img/icons/16/client.png');
}
.quick-actions-horizontal i.icon-database {
	background-image: url('../img/icons/16/database.png');
}
.quick-actions-horizontal i.icon-download {
	background-image: url('../img/icons/16/download.png');
}
.quick-actions-horizontal i.icon-graph {
	background-image: url('../img/icons/16/graph.png');
}
.quick-actions-horizontal i.icon-home {
	background-image: url('../img/icons/16/home.png');
}
.quick-actions-horizontal i.icon-lock {
	background-image: url('../img/icons/16/lock.png');
}
.quick-actions-horizontal i.icon-mail {
	background-image: url('../img/icons/16/mail.png');
}
.quick-actions-horizontal i.icon-pdf {
	background-image: url('../img/icons/16/pdf.png');
}
.quick-actions-horizontal i.icon-people {
	background-image: url('../img/icons/16/people.png');
}
.quick-actions-horizontal i.icon-piechart {
	background-image: url('../img/icons/16/piechart.png');
}
.quick-actions-horizontal i.icon-search {
	background-image: url('../img/icons/16/search.png');
}
.quick-actions-horizontal i.icon-shopping-bag {
	background-image: url('../img/icons/16/shopping-bag.png');
}
.quick-actions-horizontal i.icon-survey {
	background-image: url('../img/icons/16/survey.png');
}
.quick-actions-horizontal i.icon-tag {
	background-image: url('../img/icons/16/tag.png');
}
.quick-actions-horizontal i.icon-user {
	background-image: url('../img/icons/16/user.png');
}
.quick-actions-horizontal i.icon-wallet {
	background-image: url('../img/icons/16/wallet.png');
}
.quick-actions-horizontal i.icon-web {
	background-image: url('../img/icons/16/web.png');
}

.stat-boxes li:hover, .quick-actions li:hover, .quick-actions-horizontal li:hover  {
    background-color: #fcfcfc;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FCFCFC), to(#F1F1F1));
	background-image: -webkit-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
    background-image: -moz-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
    background-image: -ms-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
    background-image: -o-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
    background-image: linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
}
.flat .stat-boxes li:hover, .flat .quick-actions li:hover, .flat .quick-actions-horizontal li:hover {
	background-image: none;
}
.quick-actions li:active, .quick-actions-horizontal li:active  {
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
	background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
}


.stat-boxes .left, .stat-boxes .right {
	text-shadow: 0 1px 0 #ffffff;
    float: left;
}
.stat-boxes .left {
    border-right: 1px solid #DCDCDC;
    box-shadow: 1px 0 0 0 #FFFFFF;
    margin-right: 12px;
    padding: 10px 14px 6px 4px;
    font-size: 10px;
    font-weight: bold;
}
.stat-boxes .left span {
	margin-bottom: 5px;
}
.stat-boxes .right {
    font-size: 12px;
    padding: 9px 10px 7px 0;
    text-align: center;
    width: 70px;
    color: #666666;
}
.stat-boxes .left span, .stat-boxes .right strong {
	display: block;
}
.stat-boxes .right strong {
	font-size: 26px;
	margin-bottom: 3px;
	margin-top: 6px;
}
.stat-boxes .sparkline_bar_good, .stat-boxes .sparkline_line_good  {
	color: #459D1C;
}
.stat-boxes .sparkline_bar_neutral, .stat-boxes .sparkline_line_neutral  {
	color: #757575;
}
.stat-boxes .sparkline_bar_bad, .stat-boxes .sparkline_line_bad  {
	color: #BA1E20;
}

.stats-plain {

}

/* Charts & graphs **/
.chart, .pie, .bars {
	height: 300px;
	max-width: 100%;
}
#tooltip {
	position: absolute;
	display:none;
	border: none;
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 10px;
	background-color: #222222;
	color: #ffffff;
	z-index: 25;
}

/* Widgets */
.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 4px;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
    overflow:hidden !important;
}
.accordion .widget-box {
	margin-top: -2px;
	margin-bottom: 0;
	border-radius: 0;
}
.widget-box.widget-plain {
	background: transparent;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	box-shadow: none;
}

.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header, .ui-dialog .ui-dialog-titlebar {
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#f4f1f7), to(#edebf0));
	background-image: -webkit-linear-gradient(top, #f4f1f7 0%, #edebf0 100%);
    background-image: -moz-linear-gradient(top, #f4f1f7 0%, #edebf0 100%);
    background-image: -ms-linear-gradient(top, #f4f1f7 0%, #edebf0 100%);
    background-image: -o-linear-gradient(top, #f4f1f7 0%, #edebf0 100%);
    background-image: -linear-gradient(top, #f4f1f7 0%, #edebf0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f1f7', endColorstr='#edebf0',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px 0 #ffffff inset;
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
    border-radius: 4px 4px 0 0;
}
div.dataTables_wrapper .ui-widget-header {
	background-color: #f2f2f2;
}
.flat .widget-title, .flat .modal-header, .flat .table th, .flat .ui-dialog .ui-dialog-titlebar, .flat div.dataTables_wrapper .ui-widget-header {
	background-image: none;
}

.widget-title a {
	color: #444444;
}
.widget-title .nav-tabs {
    border-bottom: 0 none;
}
.widget-title .nav-tabs li {
	margin-bottom: 0;
}
.widget-title .nav-tabs li a {
    border-bottom: medium none !important;
    border-left: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    border-right: 1px solid #DDDDDD;
    border-top: medium none;
    color: #999999;
    margin: 0;
    outline: medium none;
    padding: 9px 10px 8px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
    border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
    background-color: transparent !important;
    border-color: #D6D6D6;
    border-width: 0 1px;
    color: #666666;
}
.widget-title .nav-tabs li.active a, .widget-title .nav-tabs li.active a:focus {
    background-color: #F9F9F9 !important;
    color: #444444;
}
.widget-title span.icon {
	border-right: 1px solid #cdcdcd;
	padding: 9px 10px 7px 11px;
	float: left;
	opacity: .7;
}
.widget-title h5 {
    color: #666666;
	text-shadow: 0 1px 0 #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 0 0 0 0;
}
.widget-title .buttons .btn {
	padding: 9px 10px 6px;
	color: #000000;
	border-radius: 0;
	border-left: 1px solid #dddddd;
	text-shadow: 0 1px 0 #ffffff;
	font-size: 12px;
	line-height: 17px;
	margin: 0;
}
.flat .widget-title .buttons .btn {
	border-left: 1px solid #cccccc;
}
.widget-title .buttons .btn:hover {
	background-color: #fdfdfd;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#f3f3f3));
	background-image: -webkit-linear-gradient(#fdfdfd, #f3f3f3);
	background-image: -moz-linear-gradient(#fdfdfd, #f3f3f3);
	background-image: -ms-linear-gradient(#fdfdfd, #f3f3f3);
	background-image: -o-linear-gradient(#fdfdfd, #f3f3f3);
	background-image: linear-gradient(#fdfdfd, #f3f3f3);
	border-width: 0 1px;
	border-color: transparent transparent transparent #dddddd;
	padding: 9px 10px 6px;
	line-height: 19px;
}

.flat .widget-title .buttons .btn:hover {
	background-color: #eeeeee;
	background-image: none;
}
.widget-title .buttons .btn i {
	vertical-align: middle;
	margin-right: 3px;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 15px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
	margin-right: 190px;
}

.widget-content {
	padding: 12px 15px;
}
.widget-box.widget-plain .widget-content {
	padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
    border-bottom: 1px solid #CDCDCD;
}

.ui-dialog {
	padding: 0;
}
.ui-dialog .ui-dialog-title {
	font-size: 14px;
	margin: 4px 0 0;
}
.ui-widget-overlay {
	position: fixed;
}
.ui-dialog .ui-dialog-titlebar-close {
	background: transparent url("../img/glyphicons-halflings.png") -310px 2px scroll;
	margin: -15px 0 0;
}
ul#icons li {
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 2px;
    padding: 4px 0;
    position: relative;
}
.recent-posts, .recent-comments, .recent-users {
	margin: 0;
	padding: 0;
}
.recent-posts li, .recent-comments li, .article-post li, .recent-users li {
    border-bottom: 1px dotted #AEBDC8;
    list-style: none outside none;
    padding: 10px;
}
.recent-posts .article-post, .recent-comments .comments {
    margin-left: 60px;
}
.recent-posts li.viewall, .recent-comments li.viewall, .recent-users li.viewall {
	padding: 0;
}
.recent-posts li.viewall a, .recent-comments li.viewall a, .recent-users li.viewall a {
	padding: 5px;
	text-align: center;
	display: block;
	color: #888888;
}
.recent-posts li.viewall a:hover, .recent-comments li.viewall a:hover, .recent-users li.viewall a:hover {
	background-color: #eeeeee;
}

.recent-posts li:last-child, .recent-comments li:last-child, .recent-users li:last-child {
    border-bottom: none !important;
}

.user-thumb {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6BCBF;
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 2px;
    width: 40px;
}
.user-info {
    color: #666666;
    font-size: 11px;
}

.site-stats {
	margin: 0;
	padding: 0;
	list-style: none;
}
.site-stats li {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    margin: 0 0 10px;
    padding: 10px 20px 10px;
    position: relative;
}
.site-stats li:hover {
    background-color: #EDEDED;
}
.site-stats li .cc {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.site-stats li:hover .cc {
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-ms-transform: translateX(10px);
	-o-transform: translateX(10px);
	transform: translateX(10px);
}
.site-stats li.divider {
	padding: 0;
	border-width: 1px 0 0;
	border-color: #DDDDDD;
	border-style: dashed;
}
.site-stats li i {
	vertical-align: baseline;
}
.site-stats li strong {
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
}
.site-stats li small {
	margin-left: 5px;
	font-size: 12px;
	color: #888888;
	font-style: italic;
}

.invoice-content {
	padding: 20px;
}
.invoice-action {
    margin-bottom: 30px;
}
.invoice-head {
    clear: both;
    margin-bottom: 40px;
    overflow: hidden;
    width: auto;
}
.invoice-meta {
    font-size: 18px;
    margin-bottom: 40px;
}
.invoice-date {
    float: right;
    font-size: 80%;
}
.invoice-content h5 {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
.invoice-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.invoice-to {
    float: left;
    width: 49%;
}
.invoice-from {
    float: right;
    width: 49%;
}

.invoice-to li, .invoice-from li {
    clear: left;
}
.invoice-to li span, .invoice-from li span {
    display: block;
}
.invoice-content th.total-label {
	text-align: right;
}
.invoice-content th.total-amount {
	text-align: left;
}
.invoice-content th.total-label, .invoice-content th.total-amount {
	font-size: 16px;
}
.amount-word {
    color: #666666;
    margin-bottom: 40px;
    margin-top: 40px;
}
.amount-word span {
    color: #5476A6;
    font-weight: bold;
    padding-left: 20px;
}
.panel-left {
	margin-right: 250px;
}
.panel-right {
	width: 249px;
	background-color: #f2f2f2;
	border-left: 1px solid #dddddd;
	position: absolute;
	right: 0;
	top: 36px;
	height: 2500px;
}
.panel-right .panel-title {
	width: 100%;
	background-color: #ececec;
	border-bottom: 1px solid #dddddd;
}
.panel-right .panel-title h5 {
	font-size: 12px;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	padding: 6px 10px 5px;
    margin: 0;
}
.panel-right .panel-content {
	padding: 10px;
}
.chat-content {
	height: 500px;
	padding: 15px;
}
.chat-messages {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 0 0;
    height: 425px;
    overflow: auto;
    position: relative;
    z-index: 10;
}
.chat-message {
	border-radius: 0 0 4px 4px;
	padding: 10px;
	margin: -1px 0 0;
	box-shadow: none;
}
.chat-message input[type=text] {
	margin-bottom: 0 !important;
	width: 100%;
}
.chat-message button {
	float: right;
	margin: 0;
}
#chat-messages-inner {
	overflow-x: hidden;
	z-index: 0;
}
#chat-messages-inner p {
    padding: 10px;
    margin: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 0;
}
#chat-messages-inner p.al {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

#chat-messages-inner p.show {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1 !important;
}
#chat-messages-inner p.al.show {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
#chat-messages-inner p img {
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-top: 6px;
}
#chat-messages-inner .msg-block, #chat-messages-inner p.offline span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
    display: block;
    margin-left: 40px;
    padding: 10px;
    position: relative;
}
#chat-messages-inner p.offline span {
    background: none repeat scroll  0 0 #FFF5F5;
}
#chat-messages-inner .time {
    color: #999999;
    font-size: 11px;
    font-style: italic;
}
#chat-messages-inner .msg {
    display: block;
    margin-top: 10px;
}
#chat-messages-inner .msg-block:before {
	border-right: 7px solid rgba(0,0,0,0.1);
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	content: "";
	display: inline-block;
	left: -7px;
	position: absolute;
	top: 11px;
}
#chat-messages-inner .msg-block:after {
	border-right: 6px solid #ffffff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	display: inline-block;
	left: -6px;
	position: absolute;
	top: 12px;
}
.chat-users {
	padding: 0 0 30px;
}
.chat-users .contact-list {
    line-height: 21px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.chat-users .contact-list li {
    border-color: #dddddd;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding: 1px;
    position: relative;
}
.chat-users .contact-list li:hover {
	background-color: #efefef;
}
.chat-users .contact-list li a {
    color: #666666;
    display: block;
    padding: 8px 5px;
}
.chat-users .contact-list li.online a {
	font-weight: bold;
}
.chat-users .contact-list li.new {
	background-color: #eaeaea;
}
.chat-users .contact-list li.offline {
	background-color: #EDE0E0;
}
.chat-users .contact-list li a img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}
.chat-users .msg-count, .chat-users .away {
	padding: 3px 5px;
    position: absolute;
    right: 10px;
    top: 12px;
}
.chat-users .away {
	font-size: 10px;
	top: 15px;
}
.taskDesc i {
    margin: 1px 5px 0;
}
.taskStatus, .taskOptions {
    text-align: center !important;
}
.taskStatus .in-progress {
    color: #64909E;
}
.taskStatus .pending {
    color: #AC6363;
}
.taskStatus .done {
    color: #75B468;
}
.activity-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.activity-list li {
    border-bottom: 1px solid #EEEEEE;
    display: block;
}
.activity-list li:last-child {
    border-bottom: medium none;
}
.activity-list li a {
    color: #888888;
    display: block;
    padding: 7px 10px;
}
.activity-list li a:hover {
    background-color: #FBFBFB;
}
.activity-list li a span {
    color: #AAAAAA;
    font-size: 11px;
    font-style: italic;
}
.activity-list li a i {
	margin-left: 3px;
    margin-right: 10px;
    opacity: 0.6;
    vertical-align: middle;
}
.new-update {
    border-top: 1px solid #DDDDDD;
    padding: 10px 12px;
}
.new-update:first-child {
    border-top: medium none;
}
.new-update span {
	display:block;
}
.new-update i{
	float: left;
	margin-top: 3px;
	margin-right: 13px;
}
.new-update .update-date {
    color: #BBBBBB;
    float: right;
    margin: 4px -2px 0 0;
    text-align: center;
    width: 30px;
}
.new-update .update-date .update-day {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -4px;
}
.update-done, .update-alert, .update-notice {
    display: block;
    float: left;
    max-width: 76%;
}

.gallery-masonry {
    margin: 0 auto;
}
.gallery-masonry .item {
    width: 240px;
    margin: 10px;
    float: left;
    position: relative;
}
.gallery-masonry .item .actions {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	display: block;
	padding: 5px;
	border-radius: 4px;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.gallery-masonry .item .actions-inner {
	width: 64px;
	height: 27px;
	background-color: #000000;
	padding: 5px 8px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -32px;
}
.gallery-masonry .item .actions-inner a {
	margin: 0 4px;
	color: #ffffff;
}
.gallery-masonry .item .actions .actions-inner i {
    margin-top: -1px;
}
.gallery-masonry .item:hover .actions {
	opacity: 1;
}

/* Tables */

span.icon .checker {
	margin-top: -5px;
	margin-right: 0;
}

.dataTable .ui-state-default {
    box-shadow: 0;
    border-right: 0;
    border-left: 0;
}
.dataTables_length {
    color: #878787;
    margin: 7px 5px 0;
    position: absolute;
    right: 2px;
    top: -2px;
}
.dataTables_length div {
	vertical-align: middle;
}
.flat .pagination, .flat .pagination > li:first-child > a, .flat .pagination > li:first-child > span, .flat .pagination > li:last-child > a, .flat .pagination > li:last-child > span {
	border-radius: 0;
}

.dataTables_paginate {
    line-height: 16px;
    text-align: right;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
}
.dataTables_paginate .ui-button,  .pagination.alternate li a {
    font-size: 12px;
    padding: 4px 10px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd #dddddd #cccccc; /* for IE < 9 */
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    line-height: 16px;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
    margin-right: 0;
}
.flat .dataTables_paginate .ui-button, .flat .pagination.alternate li a {
	background-image: none;
	border-color: #cccccc;
	border-color: rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
}
.dataTables_paginate .ui-button:hover, .pagination.alternate li a:hover{
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(center top , #f0f0f0, #dadada);
    background-image: -ms-linear-gradient(top, #f0f0f0, #dadada);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#dadada));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #dadada);
    background-image: -o-linear-gradient(top, #f0f0f0, #dadada);
    background-image: linear-gradient(top, #f0f0f0, #dadada);
    color: #222222;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
}
.flat .dataTables_paginate .ui-button:hover, .flat .pagination.alternate li a:hover {
	background-image: none;
}
.dataTables_paginate .first{
    border-radius: 4px 0 0 4px;
}
.dataTables_paginate .last {
    border-radius: 0 4px 4px 0;
}
.flat .dataTables_paginate .first, .flat .dataTables_paginate .last {
	border-radius: 0;
}
.dataTables_paginate .ui-state-disabled, .fc-state-disabled, .pagination.alternate li.disabled a {
    color: #AAAAAA !important;
}
.dataTables_paginate .ui-state-disabled:hover, .fc-state-disabled:hover, .pagination.alternate li.disabled a:hover {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    cursor: default !important;
}
.flat .dataTables_paginate .ui-state-disabled:hover, .flat .fc-state-disabled:hover, .flat .pagination.alternate li.disabled a:hover {
	background-image: none;
	background-color: #ffffff;
}
.dataTables_paginate span .ui-state-disabled, .pagination.alternate li.active a {
    background-color: #414141 !important;
    background-image: -moz-linear-gradient(center top , #555555, #222222) !important;
    background-image: -ms-linear-gradient(top, #555555, #222222) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222)) !important;
    background-image: -webkit-linear-gradient(top, #555555, #222222) !important;
    background-image: -o-linear-gradient(top, #555555, #222222) !important;
    background-image: linear-gradient(top, #555555, #222222) !important;
    color: #ffffff !important;
    cursor: default !important;
    opacity: 1;
}
.flat .dataTables_paginate span .ui-state-disabled, .flat .pagination.alternate li.active a {
	background-image: none !important;
	box-shadow: none;
}
div.dataTables_wrapper .ui-widget-header {
    border-right: medium none;
    border-top: 1px solid #D5D5D5;
    font-weight: normal;
    margin-top: -1px;
}
.dataTables_wrapper .ui-toolbar {
    padding: 5px;
    margin: 0;
    border-bottom: 0 !important;
}
.dataTables_filter {
    color: #878787;
    font-size: 11px;
    margin: -1px 8px 2px 10px;
    text-align: left;
    float: left;
}
.dataTables_filter input {
	margin-bottom: 0;
}
.DataTables_sort_icon {
    margin-top: 1px;
}

.table th {
	height: auto;
	font-size: 10px;
	padding: 5px 10px 2px;
	border-bottom: 0;
	text-align: center;
	color: #666666;
}
.table.with-check tr th:first-child, .table.with-check tr td:first-child {
	width: 10px;
}
.table.with-check tr th:first-child i{
	margin-top: -2px;
	opacity: 0.6;
}
.table.with-check tr td:first-child .checker {
	margin-right: 0;
}
.table tr.checked td {
	background-color: #FFFFE3 !important;
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #FCFCFC;
}
.table-hover tbody > tr:hover > td {
    background-color: #f5f5f5;
}
/* Calendar */
.fc {
	position: relative;
}
.fc-header-title {
	margin-top: 10px;
}
.fc-header-title h2 {
	margin: 0;
	font-size: 22px;
	color: #444444;
	text-shadow: 0 1px 0 #ffffff;
}
.fc-button-month, .fc-button-basicWeek, .fc-button-basicDay {
	margin-top: -36px;
	background-image: none;
	border: 0;
	border-radius: 0 !important;
	padding: 5px 14px 4px;
	height: auto;
	background-color: transparent;
	border-left: 1px solid #CDCDCD;
	margin-left: 2px;
	margin-right: -2px !important;
	color: #666666;
	box-shadow: none;
}
.fc-header-right .fc-state-active {
	background-color: #f9f9f9;
	box-shadow: none;
	border-bottom: 1px solid #f9f9f9;
	color: #333333;
}
.fc-header-right .fc-button:last-child {
	border-right: 1px solid #CDCDCD;
}
.fc-button-next {
	position: absolute;
	right: 0;
}
.fc-button-prev, .fc-button-next {
	background-color: transparent;
	background-image: none;
	border: 0;
	box-shadow: none;
	margin-top: 7px;
}
.fc-event {
	background-color: #333333;
	border: 0;
	padding: 2px 6px 3px;
	font-size: 75%;
	font-weight: 500;
}
.flat .fc-event {
	border-radius: 0 !important;
}
.external-event {
	display: block;
	margin-bottom: 3px;
	padding:4.75px;
}
.flat .external-event {
	border-radius: 0;
}
/* Misc */
.nopadding {
	padding: 0 !important;
}
.nopadding .table {
	margin-bottom: 0;
}
.nopadding .table-bordered {
	border: 0;
}

.line {
    background: url("../img/line.png") repeat-x scroll 0 0 transparent;
    display: block;
    height: 8px;
}
.modal {
	z-index: 1040 !important;
}
.modal-backdrop {
	opacity: 0.5;

}
.modal-header {
	height: auto;
	padding: 8px 15px 5px;
	border-radius: 6px 6px 0 0;
}
.modal-header h3 {
	margin-top: 7px;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 1px 0 #ffffff;
}
.modal-header .close {
	margin-top: 2px;
}
.modal-footer {
	margin-top: 0;
}
.notify-ui ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.notify-ui li {
	background-image: -moz-linear-gradient(top, #eeeeee,#dddddd);
	margin-bottom: 5px;
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #dddddd;
}
.notify-ui li:hover {
	cursor: pointer;
	color: #777777;
}
.css_right {
    float: right;
}

/* Forms */
form {
	margin-bottom: 0;
}
.form-horizontal .form-group {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #eeeeee;
	margin: 0;
	padding: 0 0;
}
.form-horizontal .form-group:last-child {
	border-bottom: 0;
}
.form-horizontal .control-label {
	padding-top: 15px;
	width: 180px;
	float: left;
}
.form-horizontal .controls {
	margin-left: 200px;
	padding: 10px 10px 10px 0;
}
.form-horizontal input[type=text], .form-horizontal input[type=password], .form-horizontal textarea {
	width: 80%;
}
.form-horizontal .controls label {
	margin-top: 6px;
	margin-right: 10px;
}
.form-horizontal .controls label div[class^="iradio_flat-"], .form-horizontal .controls label div[class^="icheckbox_flat-"] {
	vertical-align: middle;
	margin-top: -3px;
}
.form-horizontal .form-actions {
	background-color: #f4f4f4;
	padding: 10px 40px 10px 200px;
}
.flat .form-control {
	border-radius: 0;
    box-shadow: none !important;
}
.control-label {
	font-weight: normal;
}
.help-block, .help-inline {
    color: #999999;
}
.has-error .help-inline, .has-error .help-block {
	color: #B94A48;
}
.has-success .help-inline, .has-success .help-block {
	color: #468847;
}
.has-warning .help-inline, .has-warning .help-block {
	color: #C09853;
}
/** Select2 modifications */
.select2-result-label {
	white-space: nowrap;
}
.select2-container .select2-choice {
	min-width: 200px;
	background-image: none;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	height: 28px;
}
.dataTables_length .select2-container .select2-choice {
	min-width: 50px;
	width: 50px;
}
.select2-container-active .select2-choice {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
.select2-container .select2-choice .select2-chosen {
	color: #555555;
	font-size: 12px;
}
.select2-container .select2-choice abbr {
	background: url('../img/select2.png') right top no-repeat;
}
.select2-container .select2-choice .select2-arrow {
	background-color: #ffffff;
	background-image: none;
	border-left: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.select2-dropdown-open .select2-choice, .select2-dropdown-open .select2-choice .select2-arrow, .select2-container-active .select2-choice .select2-arrow {
	background-color: #ffffff;
	box-shadow: none;
}
.select2-container .select2-choice .select2-arrow b {
	background: url('../img/select2.png') no-repeat 0 1px;
}
.select2-search input {
	border-color: #cccccc;
	background: #fff url('../img/select2.png') no-repeat 100% -22px;
    background: url('../img/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../img/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../img/select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../img/select2.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}
.select2-search input.select2-active {
    background: #fff url('../img/select2-spinner.gif') no-repeat 100%;
    background: url('../img/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../img/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../img/select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../img/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('../img/select2-spinner.gif') no-repeat 100%;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('../img/select2-spinner.gif') no-repeat 100% !important;
}
.select2-search-choice-close {
    background: url('../img/select2.png') right top no-repeat;
    top: 3px;
}
.select2-container-multi .select2-choices {
	border: 1px solid #cccccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	background-image: none;
	border-radius: 3px;
}

.select2-container-multi.select2-container-active .select2-choices {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
.flat .select2-container .select2-choice, .flat .select2-container .select2-choice .select2-arrow, .flat .select2-container-multi .select2-choices, .flat .select2-container-multi.select2-container-active .select2-choices {
	box-shadow: none;
}
.flat .select2-container .select2-choice, .flat .select2-drop, .flat .select2-container-multi .select2-choices, .flat .select2-container-multi .select2-choices .select2-search-choice {
	border-radius: 0;
}
.select2-container-multi .select2-choices .select2-search-field input {
	min-width: 120px;
}
.select2-drop.select2-drop-above.select2-drop-active {
	border-top: 1px solid rgba(82, 168, 236, 0.8);
}
.select2-drop-active {
	border-left: 1px solid rgba(82, 168, 236, 0.8);
	border-right: 1px solid rgba(82, 168, 236, 0.8);
	border-bottom: 1px solid rgba(82, 168, 236, 0.8);
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
	background-image: none !important;
	border-color: rgba(82, 168, 236, 0.6) ;
}
.select2-container-multi .select2-choices .select2-search-choice {
	background-color: #428BCA;
	background-image: none;
	filter: none;
	border-color: #428BCA;
	box-shadow: none;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.select2-container-multi .select2-choices .select2-search-choice.select2-search-choice-focus {
	background-color: #2a609d;
	border-color: #2a609d;
	color: rgba(255,255,255,0.5);
}
/**/
.dropdown-menu li a {
	font-size: 12px;
}
.flat .popover {
	border-radius: 0;
}
.popover .content-big {
    font-size: 14px;
    font-weight: bold;
}
.popover .content-small {
    font-size: 11px;
    color: #777777;
}
.badge-success {
	background-color: #5CB85C;
}
.badge-warning {
	background-color: #F0AD4E;
}
.badge-info {
	background-color: #5BC0DE;
}
.badge-danger {
	background-color: #D9534F;
}
.label-inverse, .badge-inverse {
	background-color: #333333;
}
.btn {
	margin: 2px 0;
}
.flat .btn {
	border-radius: 0;
}
.btn-inverse {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #666666;
}
.btn-inverse:hover {
	background-color: #cccccc;
	border-color: #bbbbbb;
	color: #333333;
}
.btn-inverse .caret {
	border-top-color: #666666;
}
.btn-inverse:hover .caret {
	border-top-color: #333333;
}
.btn-group > [class*=" tip"], .btn-group > [class*=" tip"]:hover {
	border-right: 0 !important;
}
.btn-mini {
	font-size: 10.5px;
	padding: 3px 8px;
}
.dropdown-menu > li > a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover, .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
	background-image: none !important;
}
#jPanelMenu-menu > ul {
	display: block !important;
}

/* Responsive design */
@media (max-width: 480px) {
	body {
		margin-top: -2px;
	}
	#header {
		padding-top: 1px;
	}
	#header h1 {
		top: auto;
		left: auto;
		margin: 7px auto;
	}
	.fixed #header {
		position: fixed;
		z-index: 20;
		box-shadow: 0 1px 4px rgba(0,0,0,0.5);
		margin-top: -37px;
		-webkit-transition: 0.26s ease-in-out;
	}
	.fixed[data-menu-position="open"] #header {
		-webkit-transform: translateX(250px);
	}
	.fixed #header h1 {
		position: absolute;
		top: auto;
		left: 38px;
		bottom: -4px;
	}
	#menu-trigger {
		display: block;
	}
	#user-nav {
		position: relative;
		left: 10%;
		right: 10%;
		width: 80%;
		margin-top: -39px;
		margin-bottom: 15px;
		text-align: center;
		-webkit-transition: 0.15s ease-in-out;
		-moz-transition: 0.15s ease-in-out;
		-ms-transition: 0.15s ease-in-out;
		-o-transition: 0.15s ease-in-out;
		transition: 0.15s ease-in-out;
	}
	.fixed #user-nav {
		z-index: 21;
		position: fixed;
		margin: 0;
		width: auto;
		left: auto;
		right: 10px;
	}
	.fixed[data-menu-position="open"] #user-nav {
		-webkit-transform: translateX(200px);
		-moz-transform: translateX(200px);
		-ms-tranform: translateX(200px);
		-o-transform: translateX(200px);
		transform: translateX(200px);
	}
	#user-nav > ul {
		right: auto;
		position: relative;
	}
	#content {
		margin-left: 0 !important;
		border-top-left-radius: 0;
	}
    .fixed #content {
    	padding-top: 67px;
    }
    #content-header {
        margin-top: 0;
        /*height: 140px; FIX iPhone: Makes header take up too much space/not enough, let it dictate (by h1 text length) */
        height:auto; /* FIX iPhone: allow h1, btn-group to set height*/
        text-align: center;
    }
    #content-header h1, #content-header .btn-group {
        float: none;
        position:relative; /*FIX iPhone: let btn group go in document flow, not absolute. Prevents button/header from running into each other*/
    }
    #content-header h1 {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 0;
        padding-top: 15px;
        width: 100%;
        }
    #content-header .btn-group {
        /*margin-top: 70px; FIX iPhone: Makes button group go needlessly far below the header. */
        margin:10px 0; /* FIX iPhone: give equal margins (as below h1), still able to target with finger */
        left: 0;
        right: auto;
    }

    /*****/
	#sidebar {
		float: none;
		width: 100% !important;
	}
	#sidebar > a {
		padding: 7px 20px 7px 15px;
		box-shadow: 0 1px 0 #666666;
		margin-bottom: 1px;
		display: block !important;
		text-transform: uppercase;
		color: #eeeeee;
		font-size: 10px;
	}
	#sidebar > a > i {
		margin-right: 10px;
	}
	#sidebar > ul {
		display: none;
		margin: -2px 0 0 !important;
		width: 100% !important;
		box-shadow: 0 6px 6px rgba(0,0,0,0.4);
	}
	#sidebar > ul > li.active > a {
		background: none !important;
	}
	#sidebar > ul > li > a > span {
		display: inline !important;
	}
    #style-switcher {
    	display: none;
    }
    .widget-title .buttons {
    	float: left;
    	border-right: 1px solid #cccccc;
    }
	.widget-title .buttons > .btn {
		white-space: nowrap;
		overflow: hidden;
		padding: 9px 3px 6px 10px !important;
	}
	.widget-title .buttons > .btn .text {
		display: none;
	}
    .form-horizontal .control-label {
        padding-left: 30px;
        width: 90%;
    }
    .form-horizontal .controls {
        margin-left: 0;
        padding: 10px 30px;
    }
    .form-horizontal .controls label {
		display: block;
    }
    .form-actions {
        text-align: center;
    }
    .form-horizontal .form-actions {
		background-color: #f4f4f4;
		padding: 10px 40px 10px 50px;
	}
}
@media (min-width: 481px) and (max-width: 769px) {
	#header h1 {
		top: 3px;
	}
	#sidebar, #sidebar > ul {
		width: 43px;
	}
	#sidebar > ul ul {
		display: none;
		position: absolute;
		left:50px;
		top: 0;
		min-width: 150px;
		box-shadow: 0 1px 5px rgba(0,0,0,0.9);
		border-radius: 5px;
		list-style: none;
	}
	#sidebar > ul ul li a {
		white-space: nowrap;
		padding: 10px 25px;
	}
	#sidebar > ul ul:before {
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		content: "";
		display: inline-block;
		left: -6px;
		position: absolute;
		top: 11px;
	}
	#sidebar > ul ul:after {
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		content: "";
		display: inline-block;
		left: -5px;
		position: absolute;
		top: 12px;
    }
	#sidebar > a {
		display: none !important;
	}
	#sidebar > ul > li.open.submenu > a {
    border-bottom: none !important;
	}
	#sidebar > ul > li > a > span {
		display: none;
	}
	#content {
		margin-left: 43px;
	}
}
@media (max-width: 600px) {
	/*.widget-title .buttons {
		float: left;
	}*/
	.panel-left {
		margin-right: 0;
	}
	.panel-right {
		border-top: 1px solid #DDDDDD;
		border-left: none;
		position: relative;
		top: auto;
		right: auto;
		height: auto;
		width: auto;
	}
	.select2-input {
		min-width: auto;
		width: auto;
	}

}
@media (max-width: 768px) {
	body {
		padding: 0 !important;
	}
	#search { display: none; }
	#user-nav > ul > li > a > span.text {
		display: none;
	}
	#sidebar li.submenu > ul {
		display: none;
	}
}
@media (min-width: 769px) and (max-width: 979px) {
	[class*="span"], .row-fluid [class*="span"] {
		display: block;
		float: none;
		margin-left: 0;
		width: auto;
	}
}
@media (max-width: 900px) {
	.dataTables_filter,
    .dataTables_paginate {
    	float: none;
    }
}
@media (max-width: 979px) {
	div.dataTables_wrapper .ui-widget-header {
		height: 68px;
	}
	.dataTables_filter {
		position: relative;
	}
	.dataTables_filter, .dataTables_paginate {
		text-align: center;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
      background-image: url('../img/select2x2.png') !important;
  }
}

